* {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

main {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
}

button {
    background-color: #007BFF;
    color: white;
    border: black;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

a {
    text-decoration: none;
}