* {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

main {
    background-color: #ffffff;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);
}